doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header.navbar-right
          ul.nav.navbar-nav
            <li><a href="/">Home</a></li>
            <li><a href="/newrecipe">Add & Edit Recipes</a></li>
    // Wrapper
    #wrapper
      .row
        .col-md-4
          .addRecipePanel
            h2 Add New Recipe
          .editRecipePanel
            h2 Edit Recipe
          button#btnClear Clear All
          .addRecipePanel
            .addRecipe
              fieldset
                input#inputName(type='text', placeholder='Recipe Name')
                input#inputCuisine(type='text', placeholder='Cuisine')
                br
                input#inputRating(type='text', placeholder='Rating')
                input#inputPicture(type='text', placeholder='Picture URL')
                br
                input#inputServing(type='text', placeholder='Serving Size', size='42')
                br
                input#inputTags(type='text', placeholder='Tags for Recipe', size='42')
                br
                textarea#inputMeats(type='text', placeholder='Meat Ingredients', class='textbox')
                br
                textarea#inputVeggies(type='text', placeholder='Veggie Ingredients', class='textbox')
                br
                textarea#inputSpices(type='text', placeholder='Spice Ingredients', class='textbox')
                textarea#inputCondiments(type='text', placeholder='Condiment Ingredients', class='textbox')
                textarea#inputDry(type='text', placeholder='Dry Goods Ingredients', class='textbox')
                textarea#inputOther(type='text', placeholder='Other Ingredients', class='textbox')
                textarea#inputDescription(type='text', placeholder='Recipe Description', class='textbox')
                textarea#inputRecipeText(type='text', placeholder='Recipe Instructions', class='textbox')
                p
                  button#btnAddRecipe Add Recipe
          .editRecipePanel
            .editRecipe
              fieldset
                input#editName(type='text', placeholder='Recipe Name')
                input#editCuisine(type='text', placeholder='Cuisine')
                br
                input#editRating(type='text' placeholder='Rating')
                input#editPicture(type='text', placeholder='Picture URL')
                br
                input#editServing(type='text', placeholder='Serving Size', size='42')
                br
                input#editTags(type='text', placeholder='Tags for Recipe', size='42')
                br
                textarea#editMeats(type='text', placeholder='Meat Ingredients', class='textbox')
                br
                textarea#editVeggies(type='text', placeholder='Veggie Ingredients', class='textbox')
                br
                textarea#editSpices(type='text', placeholder='Spice Ingredients', class='textbox')
                textarea#editCondiments(type='text', placeholder='Condiment Ingredients', class='textbox')
                textarea#editDry(type='text', placeholder='Dry Goods Ingredients', class='textbox')
                textarea#editOther(type='text', placeholder='Other Ingredients', class='textbox')
                textarea#editDescription(type='text', placeholder='Recipe Description', class='textbox')
                textarea#editRecipeText(type='text', placeholder='Recipe Instructions', class='textbox')
                br
                button#btnUpdateRecipe Update Recipe
                button#btnCancelEditRecipe Cancel Edit
        .col-md-4
          h2 Companion Recipe
          .addRecipePanel
            .addRecipe
              fieldset
                textarea#inputCompanion(type='text', placeholder='Companion Recipe Name', class='textbox')
                textarea#inputCompanionMeats(type='text', placeholder='Companion Meats', class='textbox')
                textarea#inputCompanionVeggies(type='text', placeholder='Companion Veggies', class='textbox')
                textarea#inputCompanionSpices(type='text', placeholder='Companion Spices', class='textbox')
                textarea#inputCompanionCondiments(type='text', placeholder='Companion Condiments', class='textbox')
                textarea#inputCompanionDry(type='text', placeholder='Companion Dry Goods', class='textbox')
                textarea#inputCompanionOther(type='text', placeholder='Companion Other', class='textbox')
          .editRecipePanel
            .editRecipe
              fieldset
                textarea#editCompanion(type='text', placeholder='Companion Recipe Name', class='textbox')
                textarea#editCompanionMeats(type='text', placeholder='Companion Meats', class='textbox')
                textarea#editCompanionVeggies(type='text', placeholder='Companion Veggies', class='textbox')
                textarea#editCompanionSpices(type='text', placeholder='Companion Spices', class='textbox')
                textarea#editCompanionCondiments(type='text', placeholder='Companion Condiments', class='textbox')
                textarea#editCompanionDry(type='text', placeholder='Companion Dry Goods', class='textbox')
                textarea#editCompanionOther(type='text', placeholder='Companion Other', class='textbox')
        .col-md-4
          h2 View Recipe Details
          #newRecipeList
            table
              thead
                th Recipe
                th Cuisine
                th <a href="#" class="editToggle">Edit</a>/ <a href="#" class="editToggle">Delete</a>
              tbody


        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='/public/javascripts/newrecipe.js')
