doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    body
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header.navbar-right
            ul.nav.navbar-nav
              <li><a href="/">Home</a></li>
              <li><a href="/addrecipe">Add & Edit Recipes</a></li>
              <li><a href="/viewrecipe">View Recipe</a></li>
      #wrapper
        .container-fluid
          #recipe-box
            h1 Recipe Details
            p= id
            p welcome #{id}
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
      script(src='/public/javascripts/viewrecipe.js')
